extends layout 

block content 
    h1(class="text-3xl text-center ") #{title}: #{card.card}
    p(class="text-center my-5") #[strong Do you really want to delete #{card.card}]
    form(method="POST" action="")
        input(type="hidden", name="cardid", required="true", value=card._id)
        button(type="submit" class="rounded border-2 border-black bg-[#fb4d3d] p-5 mx-auto flex justify-center w-[90vw] max-w-[300px] text-md") Delete