extends layout 

block content 
    h1= title 
    ul 
        each card in card_list 
            li 
                a(href=card.url) #{card.card}  
                | #{card.status}
        else 
            li There are no books