extends layout

block content
  div.hero(class="flex flex-col items-center min-w-[100%]")
    h1(class="text-6xl pb-10 text-center") Welcome to Quizlet Improved by Raymond Lu
    ul 
     li There are #{data.topic_count} topics and a total of #{data.card_count} flashcards
    p(class="rounded border-2 border-black bg-[#fb4d3d] p-5 mx-auto flex justify-center w-[90vw] max-w-[300px] text-xl" style="margin-top:10px;")
        a(href='/catalog/topics') Topics
    p(class="rounded border-2 border-black bg-[#fb4d3d] p-5  mx-auto flex justify-center w-[90vw] max-w-[300px] text-xl" style="margin-top:10px;")
        a(href='/catalog/cards') Flash Cards

