extends layout

block content
  div.hero(class="flex flex-col items-center min-w-[100%]")
    h1(class="text-5xl pb-10") Welcome to Quizlet Improved by Raymond Lu
    ul 
     li There are #{data.topic_count} collections and #{data.card_count} cards

