doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.flex(class="pt-5")
    block sidebar
      ul(class='sidebar-nav')
        li.text-4xl
          a(href='/catalog') Home
        li.text-4xl
          a(href='/catalog/topics') All Collections 
        li.text-4xl
          a(href='/catalog/cards') All Cards
    block content
