doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar 
      ul(class='sidebar-nav')
        li
          a(href='/catalog') Home
        li
          a(href='/catalog/topics') All Collections 
        li
          a(href='/catalog/titles') All Titles
    block content
