extends layout 

block content 
    h1(class="text-3xl text-center ") #{title}

    form(method="POST" action="")
        div.form-group(class="my-5 flex flex-col items-center gap-5 ")
            label(for="name" class="text-2xl") Topic Name: 
                input#name.form-control(type="text", placeholder="Python" name="name" value=(undefined===topic ? '' : topic.name) class="rounder border-2 border-black")
            label(for="password" class="text-2xl") Password :
                input( name="password" type="text" class="rounder border-2 border-black")
            button(type="submit" class="rounded border-1 border-black bg-[#fb4d3d] py-1 w-[90vw] max-w-[300px] text-xl") Submit 
            if errors 
                ul(class="pt-10")
                    for error in errors 
                        li!= error.msg